
div.wrap{
   margin: 0 auto;
    padding: 0 2%;
    width: 94%;
    max-width: 980px;
    font-size: 0;
    background-color: whitesmoke
}
div.title{
    width: 100%;
    height: 200px;
    background-image: url("../images/05.jpg");
    background-size: cover;
    background-position: 50% 60%;
    font-size: 50px;
    font-family:serif;
    text-align: center;
    color: black;
    display: block;
}

ul.menu{
    display: block;
    margin: 0 ;
    list-style-type: none;
    font-size: 18px;
    background-color: #1b2538;
}
ul.menu li{
    display: inline-block;
    width: 25%;
    position: relative;
}
ul.menu li a{
    display: block;
    padding: 10px 10px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    color: white;
}
ul.menu li a:hover{
    background-color: yellowgreen;
}

a{
    color: cornflowerblue;
    text-decoration: none;
    
}
a:hover{
    color: red;
    text-decoration: underline;
    
}

div.page{
    display: block;
    font-size: 0;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
div.footer{ 
    background-color: whitesmoke;
    text-align: right;
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div.note{
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    font-size: 15px;
}
td{
    text-align: center;
}
td.toi{
    width: 150px;
}
td.ant{
    width: 500;
}